
.text-block{
width: 670px;
margin: o auto;
text-align: center;
border: 2px solid; color: red;
padding: 10px

}


.card-container{
    width: 1140px;
    border: 2px solid; color: blue;
    margin: 0 auto;
}
.block{
    width: 360;
height: 291;
top: 2058px;
left: 230px;
angle: 0 deg;
opacity: 1;
border-radius: 10px;
border: 1px; solid; color: black;

}
.review-box{
    display: flex;
    justify-content: space-between;
}
.img{
 img {
  width: 80px;    
  height: 80px;    
  border-radius: 50%; 
  object-fit: cover;
}
}